services:
  github-runner:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        RUNNER_VERSION: "2.329.0"
    restart: unless-stopped
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - GITHUB_REPOSITORY=${GITHUB_REPOSITORY}
      - RUNNER_PREFIX=${RUNNER_PREFIX:-}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      replicas: 5
